
{

"openapi": "3.0.3",
"info": {
"title": "Telemetron API",
"version": "1.0.0",
"description": "Core endpoints for creating customers and orders in Telemetron."
},
"servers": [
{
"url": "https://api.telemetron.com"
}
],
"security": [
{
"TelemetronApiKey": []
}
],
"components": {
"securitySchemes": {
"TelemetronApiKey": {
"type": "apiKey",
"in": "header",
"name": "TELEMETRON_API_KEY"
}
},
"schemas": {
"CreateCustomerRequest": {
"type": "object",
"required": [
"organizationId",
"name"
],
"properties": {
"organizationId": {
"type": "string",
"description": "Tenant or workspace identifier"
},
"name": {
"type": "string",
"description": "Customer full name"
},
"email": {
"type": "string",
"format": "email"
},
"phone": {
"type": "string"
},
"address": {
"type": "string"
}
}
},
"CreateCustomerResponse": {
"type": "object",
"properties": {
"success": {
"type": "boolean"
},
"customerId": {
"type": "string",
"format": "uuid"
}
},
"required": [
"success",
"customerId"
]
},
"CreateOrderRequest": {
"type": "object",
"required": [
"organizationId",
"customerId",
"deviceId"
],
"properties": {
"organizationId": {
"type": "string"
},
"customerId": {
"type": "string"
},
"deviceId": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"pending",
"processing",
"shipped",
"delivered",
"cancelled"
],
"default": "pending"
},
"orderDate": {
"type": "string",
"format": "date-time"
},
"shippedDate": {
"type": "string",
"format": "date-time"
},
"totalAmount": {
"type": "number",
"format": "float"
},
"notes": {
"type": "string"
},
"tracking": {
"type": "object",
"properties": {
"type": {
"type": "string",
"enum": [
"carrier",
"airpinpoint"
]
},
"id": {
"type": "string"
},
"carrier": {
"type": "string"
},
"status": {
"type": "string"
},
"estimatedDelivery": {
"type": "string",
"format": "date-time"
}
}
},
"quantity": {
"type": "integer",
"default": 1,
"minimum": 1
}
}
},
"CreateOrderResponse": {
"type": "object",
"properties": {
"success": {
"type": "boolean"
},
"orderId": {
"type": "string",
"format": "uuid"
},
"orderDeviceId": {
"type": "string",
"format": "uuid"
},
"trackingId": {
"type": "string",
"format": "uuid"
},
"statusHistoryId": {
"type": "string",
"format": "uuid"
}
},
"required": [
"success",
"orderId"
]
},
"Error": {
"type": "object",
"properties": {
"error": {
"type": "string"
}
},
"required": [
"error"
]
}
}
},
"paths": {
"/customers": {
"post": {
"tags": [
"Customers"
],
"summary": "Create a customer",
"operationId": "createCustomer",
"requestBody": {
"description": "Customer payload",
"required": true,
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/CreateCustomerRequest"
},
"examples": {
"basic": {
"value": {
"organizationId": "org_demo",
"name": "Ada Lovelace",
"email": "ada@lovelace.io"
}
}
}
}
}
},
"responses": {
"200": {
"description": "Customer created",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/CreateCustomerResponse"
}
}
}
},
"400": {
"description": "Bad Request",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
},
"401": {
"description": "Unauthorized",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
},
"500": {
"description": "Server Error",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
}
}
}
},
"/orders": {
"post": {
"tags": [
"Orders"
],
"summary": "Create an order",
"operationId": "createOrder",
"requestBody": {
"description": "Order payload",
"required": true,
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/CreateOrderRequest"
},
"examples": {
"basic": {
"value": {
"organizationId": "org_demo",
"customerId": "cus_123",
"deviceId": "dev_456",
"quantity": 2,
"totalAmount": 399.99
}
}
}
}
}
},
"responses": {
"200": {
"description": "Order created",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/CreateOrderResponse"
}
}
}
},
"400": {
"description": "Bad Request",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
},
"401": {
"description": "Unauthorized",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
},
"500": {
"description": "Server Error",
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Error"
}
}
}
}
}
}
}
}
}